* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Poppins, sans-serif;
    min-height: 100vh;
}

#footerDiv {
    margin-top: 125px;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;

    text-align: center;

    background-color: transparent;
    color: black;

    gap: 10px;
}

.nameHeading {
    display: flex;
    flex-direction: column;
    text-align: start;
    
    
    width: 100%;

    gap: 20px;

    padding: 0px 25px;
}

#End {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

@media (max-width: 767px) {
    #footerDiv {
       flex-direction: column;
       align-items: normal;
    } 

    .nameHeading > h3 {
        margin-top: 40px;
    }

    .nameHeading{
        display: flex;
    }

    #footer-header {
        display: flex;
        align-items: center;
        text-align: center;
    }

    #longtext {
        
    }
}