* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Poppins, sans-serif;
    min-height: 100vh;
}

#head {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 50px;

    gap: 20px;

    color: black;
    background-color: white;
}

#name {
    display: flex;
    flex-direction: row;
    align-items: center;

    font-weight: 600;
    font-size: 20px;
}

#nav {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 20px;
    
    font-size: 10px;
}

#theme {
    width: 100px;
    height: 25px;

    background-color: black;
    color: rgb(214, 214, 214);
    
    border-color: none;
    border-style: solid;
    border-radius: 20px;

    font-size: 9px;

    cursor: pointer;
}
