* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Poppins, sans-serif;
    min-height: 100vh;
}

#mainTop {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;

    background-image: url(../Background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;

    gap: 20px;
}

#mainMiddle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    text-align: center;

    background-color: rgb(255, 255, 255);
    color: #000000;

    gap: 20px;
}

#mainBottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;

    background-color: rgb(38, 38, 38);
    color: #ffffff;

    gap: 20px;
}

.sectionTitle {
    font-weight: 600;
    font-size: 12px;

    margin-top: 50px;
}

#Sign-up {
    width: 90px;
    height: 40px;

    border-radius: 10px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 1.45px;

    color: white;
    background-color: transparent;

    font-size: 10px;

    cursor: pointer;
}

#countdown {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding: 40px 30px;

    margin-bottom: 100px;

    gap: 20px;
}

.timer {
    background-color: rgba(249, 249, 249, 0.25);

    padding: 30px;


    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 50px;

    transition: background-color 0.2s ease-in-out;

    cursor:default;
}

.timer #White {
    background-color: transparent;

    padding: 30px;


    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 50px;

    transition: background-color 0.2s ease-in-out;

    cursor:default;
}

.timer .time {
    font-size: 50px;
    font-weight: 700;
}

.timer .label {
    font-size: 10px;
}

.timer:hover {
    background-color: rgba(255, 255, 255, 0.35);
}

.timer #White:hover {
    background-color: transparent;
}



.info {
    width: 750px;
}

#learn-More {
    width: 100px;
    height: 40px;

    border-radius: 10px;
    border-color: #000000;
    border-style: solid;
    border-width: 1.45px;

    color: #000000;
    background-color: transparent;

    font-size: 10px;

    cursor: pointer;
}

#install-now-text {
    letter-spacing: 1.5px;
}

#interface-info {
    width: 500px;
}

#Hubspot-Themes-Text {
    width: 300px;
}

#install-now {
    width: 110px;
    height: 40px;

    border-radius: 100px;
    border-color: #ffffff;
    border-style: solid;
    border-width: 1.45px;

    color: #ffffff;
    background-color: transparent;

    font-size: 10px;

    cursor: pointer;

    margin-bottom: 100px;
}